In [1]:
# Python Strings
    # immutable sequences
    # this means, once you create a string, you can't change it
        # you can only replace it with a new one

In [2]:
# len() function

len('Tyler Jenson')
    # the length includes the 'space'

12

In [3]:
# len() function, continued
len('') #no space

0

In [4]:
# indexing strings
    # remember, indexes start at 0
print('Tyler Jenson'[1])

y

In [7]:
# slicing strings
    # use brackets and colon [start:end]
    # if you have indexes inputted in start and end --> start is inclusive, where end index is not included
        # example, [1:5], index 5 is excluded
        # however, if the end was blank, it includes the whole rest of the indices, even the 'end'
            # example; [1:]

print('Tyler Jenson'[1:])
    # starting with index 1

yler Jenson

In [9]:
# slicing strings, continued

print('Tyler Jenson'[:5])
    # doesn't include index 5, the space in the string
    # REMEMBER -- you start at index 0

Tyler

In [10]:
# special characters & backslash (\)
    # the backslash is an 'escape character' and has to be used in front of a special character
    # escape character is not include in the string length
    
# example, apostrophe
print('I\'m Tyler')

I'm Tyler

In [14]:
# finding the 'code point' for a given character 
# using the ord() function
    # can only accept a 1 character string

ord('a')

97

In [15]:
ord('A')

65

In [16]:
# chr() function
    # the opposite of the ord() function
    # input -- number; output -- character
    
chr(97)

'a'

In [17]:
# using multi-line strings
    # need to start and end with triple quotes
    # example, below you see that the string layout is on 2 lines
test_string = """baba
boooee"""

In [18]:
# using multi-line strings, with len() function

#example, the string in the variable 'test_string' above looks to only have 10 characters, but Python adds 
    # an 'invisible' character due to being on multiple lines (2)
    # this special character is called 'Line Feet' and is represented as, \n
        # counts as 1 character

len(test_string)

11

In [19]:
# string concatenation (+)
    # creates new string
'aaa' + 'bbb'

'aaabbb'

In [ ]:
# operator overloading
    # giving extended meaning beyond their predefined operational meaning
        # For example operator + is used to add two integers as well as join two strings and merge two lists

In [20]:
# string multiplication (*)

2 * 'ccc'

'cccccc'

In [21]:
# string concatenation, cont

# the below give the same result
# where the order doesn't matter
    # this is referred to as 'COMMUTATIVE'
3 + 2 
2 + 3

# however, concatenating strings depends on the order
    # this is referred to as 'NON COMMUTATIVE'
'bbb' + 'aaa'

'bbbaaa'

In [22]:
# iterating strings; using for loop

for char in 'Tyler Jenson':
    print(char, end='-')

T-y-l-e-r- -J-e-n-s-o-n-

In [23]:
#REMINDER
# strings; immutable
    # can't change it, can only replace with a new string

In [24]:
# del operator and strings
    # can't use

text = 'STyler Jenson'

del text[0]
# as you see, you will get an error

# same concept goes for 'insert' & 'append'

TypeError: 'str' object doesn't support item deletion

In [25]:
# min() function and strings
    # will take the LOWEST code point from the character

min('TylerJenson')

'J'

In [26]:
# same example but with a 'space'
min('Tyler Jenson')

' '

In [27]:
# max() function and strings
    # opposite of min(), will find the character with the HIGHEST code point
    
max('TylerJenson')

'y'