In [1]:
# operators & strings
    # python allows you to use the same operators with strings, as you know from numbers
"""
==
!=
>
>=
<
<=
"""

'\n==\n!=\n>\n>=\n<\n<=\n'

In [2]:
# examples; ==  &  !=

'Python' == 'Python'

True

In [1]:
'Python' == 'python'

False

In [2]:
'Python' == 'nohtyP' # Python backwards

# even though all code points added up are equal... Python has a rule
    # it goes index - index until it finds a difference, and that's when True / False is determined by that specific index

    # in this case, it's index 0
        # 'P' & 'n' code points are not equal

False

In [4]:
'Python' != 'python'

True

In [5]:
'Python' == 'Pytho'

False

In [6]:
#  ==  , !=  operators with strings

# the strings have to be identical in order to result to 'True' with ==

In [7]:
# greater than & less than operators (>,>=,<,<=)

# python evaluates index by index between each string, using the ASCII code point numerical value for each character
# evaluation soley takes place once a differing character is encountered; that is the point where the output is determined to
    # be 'True' or 'False'
# in the case below, it stops at 'p' & 'P' to evaluate the difference

'I love Python' < 'I love python'

# 'p' has a higher ASCII score than 'P'

True

In [8]:
# greater than & less than operators (>,>=,<,<=), continued

'Pythonist' > 'Python'

# this rule only applies if the shorter string, is identical with the beginning of the longer string

True

In [9]:
# greater than & less than operators (>,>=,<,<=), continued
    # similar to the example above, 
    # the length of the string doesn't matter
        # it's the values of the FIRST DIFFERING CHARACTERS
        
'Pythonist' > 'Z'

False

In [10]:
# greater than & less than operators (>,>=,<,<=), continued
    # remember; evaluated index by index
    # REVIEW --> python evaluates at the first differing character of both strings
        # in this case, '2' & '8', 8 is greater than 2, so it's False
    
'20' > '8'

False

In [13]:
# comparing a 'string' with a 'number'

    # can only use these operators: ==  ,  !=
        # if you use any other operator, you will get a 'type' error
    # string in python can never be equal to a number

10 == '10'

False

In [14]:
10 != '10'

True

In [15]:
10 > '10'

TypeError: '>' not supported between instances of 'int' and 'str'